/* Header styling */
h1 {
  font-family: sans-serif;
  font-size: 65px;
}
header {
  text-align: center;
}

/* Body styling */
.gameFrame {
  border: 1px black solid;
  margin: auto;
  width: 850px;
  height: 500px;
}

/* Extra styling for sprites*/
.meteor {
  width: 42px;
  height: 42px;
  position: relative;
  display: inline-block;
  background-image: url(../images/sprites/meteor.png);
}
